* {
	font-family: "Rajdhani", sans-serif;
}
body {
	background: linear-gradient(60deg, #00b6ff, #0099e6) fixed;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
#container {
	background: linear-gradient(145deg, #00b6ff, #0099e6);
	width: 75%;
	min-height: 50%;
	color: #ffffff;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: auto;
	transform: translate(-50%, -50%);
	padding: 10px;
	border-radius: 12px;
	box-shadow: 5px 5px 10px #008acf,
                -5px -5px 10px #00caff;
}
#container a {
	color: #ffffff;
}
#container a:hover {
	text-decoration: none;
}
#header {
	background: linear-gradient(145deg, #00b6ff, #0099e6);
	padding: 5px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	border-radius: 12px;
	box-shadow: 3px 3px 6px #008acf,
                -3px -3px 6px #00caff;
}
#content-container {
	margin-top: 10px;
	display: flex;
}
#navbar {
	flex: 0 0 10em;
}
#navbar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	font-size: 12px;
	margin-bottom: 10px;
}
