* {
	font-family: "Manrope", sans-serif;
}
body {
	background: linear-gradient(270deg, #2eafff, #0d60be) fixed;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
#container, #header, #navbar, #footer {
	color: #ffffff;
	margin: auto;
	background: rgba(15, 15, 15, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
#container {
	max-width: 96%;
	min-height: 476px;
	color: #ffffff;
	margin-top: 3px;
	padding: 10px;
}
#container, #navbar {
	margin-top: 6px;
}
#header {
	margin-top: 12px;
}
#container a, #footer a {
	color: #ffffff;
}
#container a:hover, #footer a:hover {
	text-decoration: none;
}
#header, #navbar {
	max-width: 96.7%;
	padding: 5px;
	text-align: center;
}
#header {
	font-size: 30px;
	font-weight: bold;
}
#navbar a {
	text-decoration: none;
	color: #ffffff;
}
#navbar a:hover {
	text-decoration: underline;
}
#content, #container h1 {
	margin-left: 5px;
}
#content ul {
	margin: 0;
	padding: 0;
	margin-left: 20px;
}
#footer {
	max-width: 96.7%;
	bottom: 0;
	font-size: 12px;
	text-align: center;
	padding: 5px;
	margin: auto;
	margin-top: 6px;
	margin-bottom: 10px;
}